
.header {
  height: 90px;
  width: 1440px;
}

.header-wrapper {
  padding: 29px 100px 20px 54px;
  width: 1286px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-nav__list {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 75px;
}

.header-nav__list .header-nav__item a {
  color: #000000;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
}

.header-icons {
  flex-shrink: 0;
  gap: 45px;
  display: flex;
}
.header-icons .header-nav__item {
  width: 28px;
  height: 28px;
}

.banner img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  width: 1440px;
}

.category_title {
  margin-top: 60px;
  color: #333333;
  font-family: "Poppins-Bold", Helvetica;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 0;
  text-align: center;
  width: 1440px;
}

p {
  color: #666666;
  letter-spacing: 0;
  text-align: center;
  font-family: "Poppins-Bold", Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 77px;
  width: 1440px;
}

.categroy_picture {
  margin-left: 131px;
  display: flex;
  padding: 0;
  width: 1183px;
  margin-right: 131px;
}
.categroy_picture .row{
  width: 1183px;
}
.col-4 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.col-4 img {
  width: 100%;
  height: 100%;
}

.col-4 p {
  color: #333;
  font-family: "Poppins-Bold", Helvetica;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-top: 10px;
}

.lable_title {
  margin-bottom: 60px;
  color: #3a3a3a;
  font-family: "Poppins-Bold", Helvetica;
  font-size: 40px;
  font-weight: 700;
  left: 0;
  letter-spacing: 0;
  line-height: 48px;
  text-align: center;
  top: 0;
  white-space: nowrap;
  width: 1440px;
}

.product_picture {
  margin-left: 102px;
  margin-right: 102px;
  width: 1183px;

}

.product_picture .row {
  margin-bottom: 32px;
  /* height: ; */

}

.product-des {
  width: 100%;
  background-color: #f4f5f7;
  padding-top: 16px;
  padding-left: 16px;
  padding-bottom: 30px;
  padding-right: 20px;
  display: flex;
  gap: 8px;
  flex-direction: column;
  height: 145px;
  width: 285px;
}

.product-name-box {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.product-title {
  color: #3a3a3a;
  font-family: "Poppins-SemiBold", Helvetica;
  font-size: 24px;
  font-weight: 600;
  left: 0;
  letter-spacing: 0;
  line-height: 28.8px;
  top: 0;
  white-space: nowrap;
}
.product-sub-title {
  color: #898989;
  font-family: "Poppins-Medium", Helvetica;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  float: left;
}

.product-price-box {
  display: flex;
  gap: 16px;
  align-items: center;
}

.price-sale {
  color: #3a3a3a;
  font-family: "Poppins-SemiBold", Helvetica;
  font-size: 20px;
  font-weight: 600;
  left: 0;
  letter-spacing: 0;
  line-height: 30px;
  top: 0;
  white-space: nowrap;
  float: left;
  text-decoration: none;
}
.price-original {
  color: var(--color-gray-4, #b0b0b0);
  font-family: "Poppins-SemiBold", Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
  text-decoration-line: strikethrough;
  text-decoration: line-through;
}

.row .detail {
  padding-top: 16px;
  padding-left: 16px;
  padding-bottom: 30;
  background-color: var(--color-light-bg, #f4f5f7);
  width: 285px;
  height: 145px;
}

.detail h3 {
  color: #3a3a3a;
  font-family: "Poppins-SemiBold", Helvetica;
  font-size: 24px;
  font-weight: 600;
  left: 0;
  letter-spacing: 0;
  line-height: 28.8px;
  top: 0;
  white-space: nowrap;
}
.detail .name {
  color: #898989;
  font-family: "Poppins-Medium", Helvetica;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  float: left;
}

.detail .price {
  color: #3a3a3a;
  font-family: "Poppins-SemiBold", Helvetica;
  font-size: 20px;
  font-weight: 600;
  left: 0;
  letter-spacing: 0;
  line-height: 30px;
  top: 0;
  white-space: nowrap;
  float: left;
  text-decoration: none;
  margin-top: 30px;
}

.btn_home {
  width: 1440px;
  display: flex;
  justify-content: center;
}

.btn_home a {
  text-decoration: none;
  background-color: #ffffff;
  border: 1px solid;
  border-color: #b88e2f;
  height: 48px;
  width: 245px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins-SemiBold", Helvetica;
  font-size: 16px;
  font-weight: 600;
  color: #b88e2f;
  line-height: 24px;
}

.footer {
  width: 1440px;
  height: 505px;
  border-top: 1px solid rgba(0, 0, 0, 0.17);
  background: #fff;
  margin-top: 20px;
  padding-top: 48px;
}

.footer .links a {
  text-decoration: none;
  color: #000000;
  font-family: "Poppins-Medium", Helvetica;
  font-size: 16px;
  font-weight: 500;
}

.footer .links h2 {
  color: #9f9f9f;
  font-family: "Poppins-Medium", Helvetica;
  font-size: 16px;
  font-weight: 500;
}

.footer .links ul {
  list-style: none;
  padding-left: 5px;
}

.footer .links li {
  margin: 46px 0;
}

.footer .links-container {
  display: grid;
  grid-template-columns: 3fr 1fr 2fr 3fr;
  border-bottom: 1px solid rgba(0, 0, 0, 0.17);
  margin-left: 100px;
  margin-right: 100px;
}
.footer .links h1 {
  color: #000000;
  font-family: "Poppins-Bold", Helvetica;
  font-size: 24px;
  font-weight: 700;
}

.footer .links p {
  color: #9f9f9f;
  font-family: "Poppins-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  height: 72px;
  width: 285px;
  text-align: left;
  margin-top: 50px;
}

.footer .links form input[type="text"] {
  border: none;
  border-bottom: 2px solid #000;
  width: 200px;
  padding-bottom: 5px;
}
.footer .links form a {
  border-bottom: 2px solid #000;
  color: #000000;
  font-family: "Poppins-Medium", Helvetica;
  font-size: 14px;
  font-weight: 500;
  padding-bottom: 7px;
  width: 75px;
  margin-left: 11px;
}
.footer .copyright {
  color: #000000;
  font-family: "Poppins-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  margin-left: 102.1px;
  text-align: left;
  margin-top: 35px;
}

.breaknav{
  background: #F9F1E7;
  /* width: 1440px; */
  height: 100px;
}

/* Style the list */
.breaknav .breadcrumb {
  padding: 38px 99px 38px;
  list-style: none;
}

/* Display list items side by side */
.breadcrumb li {
  display: inline;
  font-size: 18px;
}


.breadcrumb li{
  padding-left: 21px;
}
.breadcrumb li img{
  height: 37px;
  width: 2px;
}

/* Add a color to all links inside the list */
.breadcrumb li a {
  color: #9f9f9f;
  font-family: "Poppins-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
}


.breadcrumb li p{
  color: #000000;
  font-family: "Poppins-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  height: 24px;
  width: 108px;
  margin-top: 9px;
}  